
.progressBarWrapper {
  display: flex;
  align-items: center;
  gap: 8px ; 
  margin: 9px 0; 
}


.progressBarName {
  color: #000; 
  font-size: 25px; 
  width: 150px;
  text-align: center;
}

.progressBar {
  padding: 15px;
  width: 400px;
  max-width: 400px;
  text-align: center;
  font-size: 24px;
  background-color: #000000; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #e0e0e0;
}


.mainButton {
  background-color: #201ddd;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 8px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.resetButton, .homeButton {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.resetButton:hover, .homeButton:hover {
  background-color: #777;
}
